.tlc-header-top {
    .wpml-ls-legacy-dropdown {
        width: 160px;
    }
}
.tlc-header-main {
    ul.elementor-nav-menu {
        &--dropdown {
            min-width: 220px !important;
            a {
                border-left: none !important;
            }
        }
    }
    @media(max-width: $break-lg - 0.02) {
        .elementor-nav-menu--main .elementor-item {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
    
}
.tlc-mobie-menu-popup {
    ul.elementor-nav-menu {
        &--dropdown a {
            border: none !important;
        }
        > li.menu-item-has-children {
            a.has-submenu {
                justify-content: space-between;
            }
            ul.sub-menu {
                padding-left: 20px;
            }
        }
    }
}

.tlc-heading-section {
    &--white {
        .elementor-heading-title span {
            font-family: "Edu NSW ACT Foundation", Sans-serif;
            font-weight: 400;
            color: #fff;
        }
    }
    .elementor-heading-title span {
        font-family: "Edu NSW ACT Foundation", Sans-serif;
        font-weight: 400;
        color: var(--e-global-color-accent);
    }
}
.tlc-avatar-gallery .gallery {
    display: flex;
    .gallery-item:not(:first-child) {
        margin-left: -20px !important;
    }
}

.rtl .tlc-avatar-gallery .gallery {
    .gallery-item:not(:first-child) {
        margin-left: 0 !important;
        margin-right: -20px !important;
    }
}

.elementor-element.tlc-bottom-text-section {
    &--white {
        a {
            text-decoration: underline;
            text-underline-offset: 2px;
            color: inherit;
        }
    }
    a {
        display: inline-block;
        text-decoration: underline;
        text-underline-offset: 2px;
        color: var(--e-global-color-accent);
    }
}
.tlc-video-popup-btn {
    .elementor-button-link {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    .elementor-button-content-wrapper {
        align-items: center;
    }
    .elementor-button-icon {
        position: relative;
        font-size: 52px;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            width: 44px;
            height: 44px;
            background: #fff;
            border-radius: 50px;
            z-index: -1;
        }
        svg {
            fill: var(--e-global-color-accent);
        }
    }
}
.tlc-donation-accordion {
    .e-n-accordion-item {
        background: #D2F4F4;
        border-radius: 20px;
        &:nth-child(1) {
            background: #FDF0DD;
        }
        &:nth-child(2) {
            background: #D2F4F4;
        }
        &:nth-child(3) {
            background: #CAE4F7;
        }
        .e-n-accordion-item-title {
            padding: 20px;
            border: none;
        }
    }
    
}
.tlc-newsletter-box {
    .elementor-heading-title {
        span {
            &:first-child {
                font-size: 20px;
                font-weight: 400;
            }
            &:last-child {
                font-family: "Edu NSW ACT Foundation", Sans-serif;
                font-weight: 400;
            }
        }
    }
    .elementor-field-type-email {
        width: calc(100% - 230px) !important;
        margin: 0 !important;
        input {
            padding: 10px 30px;
        }
    }
    .elementor-field-type-submit {
        width: 230px !important;
        margin: 0 !important;
        button {
            width: 100%;
        }
    }
    @media( max-width: $break-sm - 0.02 ) {
        .elementor-field-type-email {
            width: 100% !important; 
            margin-bottom: 20px !important;
        }
    }
}

.rtl {
    .elementor-give-forms--skin-grid-toluca .elementor-give-form .give-btn-modal {
        left: auto;
        right: 30px;
    } 
    .elementor-members--skin-toluca .elementor-member {
        &__thumbnail {
            margin-left: 30px;
            margin-right: 0;
        }
        &__content {
            margin: -70px 30px 0 0;
        }
        &__infor {
            left: 40px;
            right: auto;
        }
        
    }
    .elementor-events--skin-cobble-toluca .elementor-event {
        margin-left: 0;
        margin-right: 45px;
        padding: 25px 0 25px 25px;
        &:first-child .elementor-event {
            &__date {
                left: 15px;
                right: auto;
            }
            &__read-more svg {
                transform: rotate(180deg);
            }
        }
        &__inner {
            padding-left: 120px;
            padding-right: 0;
        }
        &__thumbnail {
            margin-left: 0;
            margin-right: -45px;
        }
        &__date {
            left: -10px;
            right: auto;
        }
        @media( max-width: $break-xs - 0.02 ) {
            margin-right: 0;
            padding: 20px;
            &__inner {
              padding-left: 0;
            }
            &__thumbnail {
              margin-right: 0;
            }
        }
    }
    .elementor-posts--skin-grid-toluca .elementor-post{
        &__date {
            left: auto;
            right: 40px;
        }
        &__meta li {
            &:not(:last-child):after {
                left: -20px;
                right: auto;
            }
            svg {
                margin-left: 8px;
                margin-right: 0;
            }
        }
    }
    .elementor-members--skin-pumori.elementor-filter-wrap .elementor-filter li {
        &:after {
            left: 0;
            right: auto;
        }
        &:first-child a {
            border-radius: 0 50px 50px 0;
        }
        &:last-child a {
            border-radius: 50px 0 0 50px;
        }
    }

    &.woocommerce {
        .woocommerce-toolbar .woocommerce-ordering {
            svg {
                margin-left: 4px;
                margin-right: 0;
            }
            .select .select-styled {
                background-position: center left 12px;
            }
        }
        ul.products li.product .button{
            &.add_to_cart_button {
                padding: 0 0 0 10px;
                &:after {
                    left: 6px;
                    right: auto;
                }
                &.loading {
                    padding-left: 24px;
                    padding-right: 0;
                }
            }
            .text {
                padding-left: 0;
                padding-right: 12px;
            }
        }
        .woocommerce-pagination-wrapper .woocommerce-pagination .page-numbers {
            &:not(:last-child) {
                border-left: 1px solid #E7E5E4;
                border-right: none;
            }
            &.prev svg {
                margin-left: 4px;
                margin-right: 0;
                transform: rotate(180deg);
            }
            &.next svg {
                margin-left: 0;
                margin-right: 4px;
                transform: rotate(180deg);
            }
        }
    }

}