/* Affiliate CSS */
span.bears-get-addons {
  display: block;
  white-space: nowrap;
  color: #ffffff;
  background: #69b86b;
  margin: -4px;
  padding: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
span.bears-get-addons:hover {
  margin-left: -8px;
  margin-right: -8px;
  padding-right: 16px;
}
span.bears-get-addons.gateways-payment {
  background: #60b9de;
}
span.bears-get-addons.recurring-payment {
  background: #707cc4;
}
